#parent{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    color:inherit;
    text-decoration: none;
}

table{
    padding-top: 20%;
    width: 90%;
}

td{
    text-align: center;
    height: 4vh;
}

#helloworld {
    font-weight: bolder;
    font-size: 50px;
}

#snooker {
    background-color: green;
    padding: 5%;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#pool{
    align-items: center;
    vertical-align: middle;
}

#eightball {
    background-color: black;
    padding: 5%;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#nineball {
    background-color: gold;
    padding: 0;
}

#stripes{
    background-color: white;
    width: 100%;
    height: 75%;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#band{
    background-color: gold;
    height: 75%;
    width: 100%;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
