button {
    height: 7.5vh;
    font-weight: bolder;
    border-style: none;
    color: black;
}

a {
    color: inherit;
}

td{
    text-align: center;
    padding-top: 0.5vh;
}

.solids {
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.solids_internal {
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.stripes {
    box-sizing: border-box;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border-style: solid;
    border-width: thick;
}

.stripes_internal {
    height: 3vh;
    width: 5vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.stripes_internal2 {
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#b1 {
    background-color: gold;
}

#b2 {
    background-color: navy;
}

#b3 {
    background-color: red;
}

#b4 {
    background-color: darkslateblue;
}

#b5 {
    background-color: orange;
}

#b6 {
    background-color: green;
}

#b7 {
    background-color: maroon;
}

#b8 {
    background-color: black;
}

#b9 {
    border-color: gold;
}

#b9a {
    background-color: gold;
}

#b10 {
    border-color: navy;
}

#b10a {
    background-color: navy;
}

#b11 {
    border-color: red;
}

#b11a {
    background-color: red;
}

#b12 {
    border-color: darkslateblue;
}

#b12a {
    background-color: darkslateblue;
}

#b13 {
    border-color: orange;
}

#b13a {
    background-color: orange;
}

#b14 {
    border-color: green;
}

#b14a {
    background-color: green;
}

#b15 {
    border-color: maroon;
}

#b15a {
    background-color: maroon;
}

#playertimers{
    table-layout: fixed;
}

#playertimers td:nth-child(0){
    max-width:15vh
}

td {
    overflow: hidden;
}

button{
    width: 100%;
}

#indicator {
    font-size: large;
    visibility: hidden;
    font-weight: bold;
}

#ex, #bar, #secs {
    vertical-align: middle;
}

#ex, #secs {
    font-size: x-large;
    visibility: hidden;
    font-weight: bold;
}

#bar {
    font-size: 20px;
    visibility: hidden;
    text-align: left;
    font-weight: bold;
}

#bar, #secs {
    color: green;
}

#ex_text {
    background-color: green;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}

#bar {
    text-align: left;
}

#player1, #player2{
    padding-top: 3vh;
}

.extension, .stop{
    opacity: 0.25;
}